:root {
  --charcoal: hsla(222, 19%, 27%, 1);
  --gray: hsla(260, 8%, 85%, 1);
  --heavy-foam: hsla(180, 100%, 33%, 1);
  --quiet-red: hsla(348, 78%, 67%, 1);
  --arch-yellow: hsla(43, 100%, 64%, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
